@import "../root/breakPoints";
@import "../root/colors";
@import "../root/variables";

.learn-more-grid-item {
  width: 237px;
  height: 84px;
  position: relative;
  transition: filter 0.2s ease;

  &:hover {
    filter: brightness(80%);
  }

  & img {
    object-fit: cover;
    width: 237px;
    height: 84px;
    border-radius: $main-border-radius;
    filter: brightness(65%);
    cursor: pointer;
  }

  .about {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: rgba(255, 255, 255, 1);
    white-space: nowrap;
    cursor: pointer;
  }
}
