@import "../root/breakPoints";
@import "../root/colors";
@import "../root/variables";

.home-page {
  padding: 68px 144px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @include lg {
    padding: 27px 46px;
  }
}
