@import "./root/breakPoints";
@import "./root/colors";
@import "./root/variables";

@import "./sections/header";
@import "./sections/footer";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "MyCustomFont";
  src: url("/public/fonts/NeueHaasUnica-Black.ttf");
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $primary-background-color;
  font-family: "MyCustomFont", sans-serif;

  main {
    width: 100%;
  }
}
