$main-text-color: rgba(10, 10, 10, 1);
$secondary-text-color: rgba(84, 84, 84, 1);
$button-text-color: rgba(255, 255, 255, 1);

$primary-background-color: rgba(255, 255, 255, 1);
$secondary-background-color: rgba(245, 245, 245, 1);

$main-button-color: rgba(0, 0, 0, 1);

$button-hover-color: rgb(94 94 94);
